PORT=8300
APP_ENV=local

#
## OpenID Connect
#
# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN='xxxxxxxxx.example.com'

# Our Auth0 application's Client ID.
AUTH0_CLIENT_ID='xxxxxxxxxxxxxx'

# Our Auth0 application's Client Secret.
AUTH0_CLIENT_SECRET='yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy'

# The Callback URL of our application.
AUTH0_CALLBACK_URL='http://localhost:8300/callback'

